@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

:root {
	font-family: 'Space Mono', monospace;
	--bg-main: 255 255 255;
	--bg-card: 255 255 255;
	--text-main: 20 29 47;
	--text-secondary: 107 114 128;
	--border: 229 231 235;
}

.dark {
	--bg-main: 20 29 47;
	--bg-card: 30 42 71;
	--text-main: 255 255 255;
	--text-secondary: 144 164 212;
	--border: 20 29 47;
}
